// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

// Variables
@import 'variables';

$accordion-border-width:0rem;
$accordion-bg:white;
$accordion-button-focus-border-color:white;
$accordion-button-focus-box-shadow:white;
$accordion-button-active-bg:white;

//fonts
$font-family-sans-serif:'Roboto', sans-serif;
@import 'bootstrap/scss/bootstrap';

//bootstrap icons

// Bootstrap
@import 'bootstrap/scss/bootstrap';
